<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasoftsolutions.mikhuna"
    android:installLocation="auto" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.jasoftsolutions.mikhuna.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.jasoftsolutions.mikhuna.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MikhunaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mikhuna_main" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDWDE9MTv9ZKTpoBXJr78uMe1RnwEPDhn4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/mikhuna_hostname"
                    android:scheme="http" />
                <data
                    android:host="@string/mikhuna_hostname_www"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RestaurantListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
         <activity
             android:name=".activity.LoginActivity"
             android:label="@string/title_activity_login"
             android:windowSoftInputMode="adjustResize|stateHidden|adjustPan"
             android:screenOrientation="portrait">
         </activity>
        <activity android:name=".activity.RegisterActivity"
            android:label="@string/activity_register_label"
            android:logo="@android:color/transparent"
            android:icon="@drawable/ic_launcher"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName=".activity.LoginActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <!-- <activity android:name="com.jasoftsolutions.mikhuna.activity.SplashActivity" > -->
        <!-- </activity> -->
        <activity
            android:name=".activity.RestaurantDetailActivity"
            android:label="@string/title_activity_detail"
            android:logo="@android:color/transparent"
            android:icon="@drawable/ic_launcher"
            android:parentActivityName=".activity.RestaurantListActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jasoftsolutions.mikhuna.activity.RestaurantListActivity" />

        </activity>

        <receiver
            android:name=".google.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.GCM_RECEIVED_ACTION" />

                <category android:name="com.jasoftsolutions.mikhuna" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.InternetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name=".google.gcm.GCMIntentService" />

        <service android:name=".service.RecommendRestaurantService"
            android:exported="false"/>

        <service android:name=".service.ServiceSendLikeDish"
            android:exported="false"/>

        <activity android:name=".activity.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ProblemReportActivity"
            android:label="@string/title_activity_problem_report"
            android:logo="@android:color/transparent"
            android:icon="@drawable/ic_launcher"
            android:parentActivityName=".activity.RestaurantListActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jasoftsolutions.mikhuna.activity.RestaurantListActivity" />
        </activity>
        <activity
            android:name=".activity.FirstTimeActivity"
            android:label="@string/title_activity_first_time"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.RestaurantDishCategoryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_restaurant_carte"
            android:logo="@android:color/transparent"
            android:icon="@drawable/ic_launcher"
            android:parentActivityName=".activity.RestaurantDetailActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jasoftsolutions.mikhuna.activity.RestaurantDetailActivity" />

        </activity>
        <activity
            android:name=".activity.RestaurantCarteActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_restaurant_carte"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MapActivity"
            android:label="@string/title_activity_map"
            android:logo="@android:color/transparent"
            android:icon="@drawable/ic_launcher"
            android:parentActivityName=".activity.RestaurantListActivity"
            android:screenOrientation="portrait">

            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.jasoftsolutions.mikhuna.activity.RestaurantListActivity" />

        </activity>
        <activity
            android:name=".activity.FilterMapActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_filter_map"
            android:logo="@android:color/transparent"
            android:icon="@drawable/ic_launcher"
            android:parentActivityName=".activity.MapActivity"
            android:screenOrientation="portrait">
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jasoftsolutions.mikhuna.activity.MapActivity" />
        </activity>

        <activity android:name="com.facebook.LoginActivity" />
    </application>

</manifest>
